.newspaper {
  background-color: antiquewhite;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin: 2px;
}

.magazine2 {
  background-image: url('images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  margin: 2px;
}

.magazine3 {
  background-color: rgb(0, 66, 128);
  color: white;
  font-family:'Courier New', Courier, monospace;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 2px;
}

.medium {
  font-size: 20px;
  padding: 8px;
  margin: 2px;
}

.big {
  font-size: 30px;
  padding: 10px;
  margin: 2px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
  margin: 2px;
}

.rotateleft {
  transform: rotate(-5deg);
  margin: 2px;
}

.rotateright {
  transform: rotate(5deg);
  margin: 2px;
}

.skewleft {
  transform: skewX(10deg);
  margin: 2px;
}

.skewright {
  transform: skewX(-10deg);
  margin: 2px;
}
